body{
    background-color: wheat;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
}
p{
    font-size: 30px;
}
#score{
    float: right;
    font-size: 30px;
}
#timer{
    float: left;
    font-size: 30px;
}